<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Published Time</th>
      <th>Accurate Time</th>
      <th>Titles</th>
      <th>Short Synopsis</th>
      <th>Medium Synopsis</th>
      <th>Long Synopsis</th>
    </tr>
  </thead>

  <tbody>
  <% @rows.each do |row| %>
    <tr data-episode-pid="<%= row['episode_pid'] %>" data-broadcast-pid="<%= row['pid'] %>">
      <td class="nowrap">
        <span class="published_start_time"><%= row['published_start_time'].strftime("%H:%M") %></span> - 
        <span class="published_end_time"><%= row['published_end_time'].strftime("%H:%M") %></span>
      </td>
      <td class="nowrap">
        <% if row['accurate_start_time'] and row['accurate_end_time']%>
          <%= row['accurate_start_time'].strftime("%H:%M:%S") %> - 
          <%= row['accurate_end_time'].strftime("%H:%M:%S") %>
        <% end %>
      </td>
      <td>
        <% row['ancestor_titles'].each do |ancestor| %>
          <div>
            <span style="font-weight: bold"><%= ancestor['ancestor_type'].capitalize %></span>:
            <a href="http://www.bbc.co.uk/programmes/<%= ancestor['pid'] %>"><%= ancestor['title'] || ancestor['presentation_title'] %></a>
          </div>
        <% end %>
      </td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  <% end %>
  </tbody>

</table>

<script src="/javascripts/radio-schedule.js"></script>
