<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Published Time</th>
      <th>Accurate Time</th>
      <th>Titles</th>
      <th>Short Synopsis</th>
      <th>Medium Synopsis</th>
      <th>Long Synopsis</th>
    </tr>
  </thead>

  <tbody>
  <% @rows.each do |row| %>
    <tr data-episode-pid="<%= row['episode_pid'] %>">
      <td>
        <%= row['published_start_time'].strftime("%H:%M") %> - 
        <%= row['published_end_time'].strftime("%H:%M") %>
      </td>
      <td></td>
      <td>
        <% row['ancestor_titles'].each do |ancestor| %>
          <div>
            <span style="font-weight: bold"><%= ancestor['ancestor_type'].capitalize %></span>:
            <a href="http://www.bbc.co.uk/programmes/<%= ancestor['pid'] %>"><%= ancestor['title'] || ancestor['presentation_title'] %></a>
          </div>
        <% end %>
      </td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  <% end %>
  </tbody>

</table>


<script>
  $(function() {

    $( "tbody tr" ).each(function( index ) {
      var episode_pid = $(this).data('episode-pid');
      var row = this;

      $.getJSON( "/episodes/"+episode_pid, function( data ) {
        $(row).find('td').eq(3).text(data['synopses']['short'] || '');
        $(row).find('td').eq(4).text(data['synopses']['medium'] || '');
        $(row).find('td').eq(5).text(data['synopses']['long'] || '');
      });

    });

  });
</script>
